.contenedor {
    position: relative;
    width: 100%;
    height: 500px; 
  }
  
  .imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .texto {
    position: absolute;
    top: 50%; /* Centra verticalmente en el centro del contenedor */
    left: 50%; /* Centra horizontalmente en el centro del contenedor */
    transform: translate(-50%, -50%); /* Ajusta la posición para centrar perfectamente */
    text-align: center; 
    font-size: 2.6em;
    font-weight: 500;
    color: white; 
    line-height: 1.5;
  }

  @media screen and (max-width: 968px){
    .texto{
    font-size: 1.5em;
    }
    .contenedor{
    max-width: 968px; /* Ancho máximo del contenedor */
    max-height: 300px;
    margin: 0 auto; /* Centra horizontalmente el contenedor */
    padding: 0px; /* Añade relleno según sea necesario ?? sacar*/
    }
    .imagen{
    width: 100%; /* La imagen ocupa todo el ancho del contenedor */
    height: 100%;
    }
  }
  @media screen and (max-width: 768px) {
      .texto {
        font-size: 1.2em; /* Cambia el tamaño de fuente para pantallas más pequeñas */
      }
      
      .contenedor {
        max-height: 300px; /* Ajusta la altura máxima del contenedor para pantallas más pequeñas */
      }
      
      .imagen {
        width: 100%; /* La imagen ocupa todo el ancho del contenedor */
        height: 100%;
      }
    }
  }    