.dato-colegio {
    width: 100%;
    height: 100%;
    color: #00405B;
}

.nom-colegio {
    top: 50px;
    width: 100%;
    margin-top: 6rem;
    margin-bottom: 0.2rem;
}

.icon-flecha {
    margin-left: 2rem;
    width: 2.5rem;
    height: 2rem;
    z-index: 2;
}

.nombre-colegio {
    text-align: center;
    font-size: 2em;
    font-weight: 550;
}

.niveles {
    display: flex;
    justify-content: center;

}

.nivel {
    margin: 18px;
    padding: 12px;
    background-color: #c0fac0;
    border-radius: 20px;
    display: inline-block;
    gap: 2rem;
}

.descripcion-colegio {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    margin: 2rem;
    height: 25rem
}

.descrip-imagen,
.descrip-cole {
    width: 50%;
    font-size: 1rem;
}

.descrip-cole {
    width: 30rem;
}

.img-cole {
    width: 550px;
    height: 360px;
    object-fit: cover;
}

.contacto {
    width: 100%;
    height: 8rem;
}

.contact-info {
    list-style: none;
    padding: 0;
    margin: 0;
}

.item-cole {
    font-size: 1.5em;
    font-weight: 550;
    margin-left: 4rem;
    margin-top: 1.5rem;
}

.icon-circulo {
    width: 10px;
    height: 10px;
    margin-right: 10px;
}


.contact-info li,
.caracteristica li {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 10px;
    margin-left: 6rem;
}

.contact-info p {
    margin: 0;
    font-size: 14px;
}

.contact-info p strong {
    font-weight: bold;
}

.caracter-cole {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    margin-left: 4rem;
}

.icon-caracter {
    width: 50px;
    height: 50px;
}

.item2-cole {
    font-size: 1.5em;
    font-weight: 550;
    margin-left: 1rem;
}

.idiomas {
    margin-top: 20px;
}

.idiomas-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin-left: 6rem;
    margin-top: 1rem;
}

.idiomas-item {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.idiomas-item img {
    margin-right: 10px;
    /* Espacio entre la imagen y el texto */
}

.icon-flecha {
    height: auto;
    width: 60px;
}

.icon-ubica {
    width: 36px;
    height: 35px;
}

@media screen and (max-width: 968px) {
    .descrip-imagen,
    .descrip-cole {
        width: 20rem;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .descrip-imagen,
    .descrip-cole {
        width: 26rem;
        font-size: 15px;
    }

    .nombre-colegio {
        font-size: 1.5em;
    }

    .item2-cole,
    .item-cole {
        font-size: 1.2em;
    }
    .descripcion-colegio {
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (max-width: 576px) {
    .descrip-imagen,
    .descrip-cole {
        width: 22rem;
        font-size: 14.5px;
    }

    .nombre-colegio {
        font-size: 1.2em;
    }

    .item2-cole,
    .item-cole {
        font-size: 1em;
    }
}