.footer{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-left: 2.5rem; 
    padding-right: 2.5rem; 
    padding-top: 1.25rem; 
    padding-bottom: 1.25rem;  
}
.enlaces{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
    max-width: 66.666667%; 
    margin-top: 2rem;   
}

@media screen and (max-width: 992px){
    .copyright{
        font-size: 14px;
    }
    .enlaces{
        font-size: 10px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        margin: 0 auto;
        width: 100%;
        max-width: 66.666667%;
        margin-top: 2rem;
    }
}
/*Pantallas sm Smartphones*/
@media screen and (max-width: 576px) {
    .copyright{
        font-size: 8px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem;
    }
    .enlaces {
        width: auto;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-wrap: nowrap;
        gap: 2rem;
        margin: 2rem;
    }
    .lista-enlace{
        min-width: 120px;
        margin: 0;
    }
}